{{define "content"}}
<form method="POST" enctype='multipart/form-data' action="{{call .ToURL "tramite.post"}}">
    <input type="file" multiple name="pdfs">
    <input value="Cargar" type="submit">
    {{template "csrf" .}}
</form>
{{end}}
